

.loaderContainer{
  position: absolute;
  z-index: 3;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: item;
 

}


.loader{
  
  width: 300px;
  height: 300px;


}

